.selected-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 30px;
  gap: 10px;
  color: #882947;
  .date {
    font-size: 16px;
  }
  .temperature {
    font-size: 28px;
  }
  .data {
    font-size: 28px;
  }
}
